@inject SigninService _signinService
@inject NavService _navService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projet_filrouge_ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/banner.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (!_signinService.IsLogged())
                {

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src=~/img/devtalks-logo-rsz.png alt="devtalks-logo" class="devtalk-logo align-items-start" />
                    </a>
                    <div class="d-flex  justify-content-end">

                        <ul class="navbar-nav flex-grow-1">
                        </ul>
                    </div>

                }
                else
                {

                    <a class="navbar-brand" asp-area="" asp-controller="Topic" asp-action="Index">
                        <img src=~/img/devtalks-logo-rsz.png alt="devtalks-logo" class="devtalk-logo align-items-start" />
                    </a>
                    <div class="d-flex  justify-content-end dropdown">
                        <ul class='menu'>
                            <img src=~/img/user-pic.jpg alt="user-logo " class='user-logo logo-hover border shadow-sm p-1' />
                            <li class='scrolling-menu' style="width:147px">
                                <ul class='shadow menu-content bg-light p-0 border '>
                                    <li>
                                        <a asp-action="Index" asp-controller="Profile" class='dropdown-item'>
                                            Votre Profil
                                        </a>
                                    </li>
                                    <div class="pr-2 pl-2 border-top mt-2">
                                    <li><small>Vous n'êtes pas <br><b>@_signinService.CurrentUser.FirstName @_signinService.CurrentUser.LastName</b> ?</small></li>
                                    <li class='small'>
                                        <a asp-action="Logout" asp-controller="Signin" asp-route-type="reco">
                                            changer d'utilsateur
                                        </a>
                                    </li>
                                    <li class='small'>ou <a asp-action="Logout" asp-controller="Signin" asp-route-type="deco">se déconnecter</a>  </li>
                    </div>

                    </ul>
                    </li>
                    </ul>
                </div>

            }
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            <div class="container d-flex ">

                    @if (_navService.PathValue == "/Profile")
                    {
                        <nav class="bg-light flex-column shadow-sm ml-2 col-3" style="min-height: 78vh;">

                            <div class="d-flex align-items-center border-bottom m-2 pb-2">
                                <img src=~/img/user-pic.jpg alt="avatar" class="border rounded m-1" />
                                <h4 class="m-1 pl-2">@ViewBag.User.FirstName @ViewBag.User.FirstName</h4>
                            </div>

                            <ul style="list-style:none" class="mt-3">
                                @if (@ViewBag.nTopics > 1)
                                {
                                    <li>
                                        Sujets créés : @ViewBag.nTopics
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        Sujet créé : @ViewBag.nTopics
                                    </li>
                                }

                                <li>
                                    Date d'inscription : @ViewBag.User.RegistrationDate
                                </li>
                            </ul>

                            @if (@ViewBag.CurrentUser.Id != @ViewBag.User.Id)
                            {
                                <a class="btn btn-dark" asp-action="GetReportButton" asp-controller="Profile" asp-route-id=@ViewBag.User.Id>Signaler</a>
                            }
                        </nav>

                    }
                    else if (!(_navService.PathValue == "/" && !_signinService.IsLogged()) && _navService.PathValue != "/Signin")
                    {
                        <nav class="bg-light flex-column shadow-sm ml-2 col-3" style="min-height: 78vh;">

                            <div class="d-flex align-items-center border-bottom m-2 pb-2">
                                <h4 class="mr-3 mt-1">Affichage</h4>
                            </div>

                            <ul style="list-style:none" class="mt-3">
                                <li>
                                    <a asp-action="Index" asp-controller="Topic" class="dropdown-item">
                                        Topic
                                    </a>
                                </li>
                                <li>
                                    @*<a asp-action="Index" asp-controller="Topic" asp-route-choice="response" class="dropdown-item">*@
                                        Techno
                                    @*</a>*@
                                </li>
                            </ul>
                        </nav>

                    }


                    @RenderBody()
</div>
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Projet de formation .Net
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
