@model Topic

<section>
    @if (Model.Id > 0)
    {
        <input type="hidden" name="id" value="@Model.Id" />
    }
    <div>
        <h1>@Model.Question</h1>
    </div>
    <div>
        @Model.Body
    </div>
    <div class="mb-5">
        from @Model.Author postée le @Model.Date
    </div>
</section>

<section>
    <h4>Réponses</h4>
    <div>

    </div>
</section>

<section>
    <h4>Votre réponse</h4>
    <form asp-controller="Topic" asp-action="SubmitAnswer" method="post" asp-route-Id_topic="Id" asp-route-Id_user="Id_user">
        <input type="hidden" name="Id_topic" value="@Model.Id" />
        <input type="hidden" name="Id_user" value="1"/>

        <div class="input-group mb-3">
            <textarea name="Body" class="form-control" style="height : 300px" placeholder="Ecrivez votre réponse ici..."></textarea>
        </div>

        <div class="justify-content-center m-2">
            <button class="btn btn-success" type="submit">Publier la réponse</button><span class="text-light">En cliquant sur le boutton "Poster la question", votre question deviendra public</span>
        </div>
    </form>
</section>