@model TopicMessageViewModel

        <div class="ml-4">
            <section class="mb-5">
  
                <h1>
                    @if (Model.Topic.Id > 0)
                    {
                        <input type="hidden" name="id" value="@Model.Topic.Id" />
                    }

                    @if (Model.Topic.StateTopic == Topic.StateEnum.Resolved)
                    {
                        <span class="badge badge-success">Resolu</span>
                    }
                    else if (Model.Topic.StateTopic == Topic.StateEnum.Disallow)
                    {
                        <span class="badge badge-danger">Supprimé</span>
                    }
                    else
                    {
                        <span class="badge badge-info">Ouvert</span>
                    }
                    <br />
                    @Model.Topic.Question
                </h1>
                
                <div class="mb-4">
                    de <a asp-action="Index" asp-controller="Profile" asp-route-userId=@Model.Topic.Author.Id>
                        @Model.Topic.Author.FirstName @Model.Topic.Author.LastName
                    </a> postée le @Model.Topic.Date
                </div>
                <hr />
                <div class="mb-2">
                    @Model.Topic.Body
                </div>
                <hr />
            </section>

            <section class="mt-4">
                <h4 class="mb-3">Réponses</h4>
                @for (var i = 0; i < Model.Topic.Responses.Count(); i++)
                {
                    <div class=@(i % 2 == 0 ? "bg-light mb-4" : "mb-4")>
                        <p class="pt-2 pl-2">
                            Postée par <a asp-action="Index" asp-controller="Profile" asp-route-userId=@Model.Topic.Responses[i].User.Id>
                                @Model.Topic.Responses[i].User.FirstName @Model.Topic.Responses[i].User.LastName
                            </a> le @Model.Topic.Responses[i].Date : <br />
                        </p>
                        <p class="p-4">
                            @Model.Topic.Responses[i].Body
                        </p>
                    </div>
                    <a asp-action="GetReportButton" asp-controller="Topic" asp-route-user_id=@Model.Topic.Responses[i].Id asp-route-topic_id=@Model.Topic.Id>Signaler</a>
                    <hr />
                }
            </section>

            <section>
                <h4>Votre réponse</h4>
                <form asp-controller="Topic" asp-action="SubmitAnswer" method="post" asp-route-Id_topic="Id" asp-route-Id_user="Id_user">
                    <input type="hidden" name="Id_topic" value="@Model.Topic.Id" />
                    <input type="hidden" name="Id_user" value=@ViewBag.CurrentUser />

                    <div class="input-group mb-3">
                        <textarea name="Body" class="form-control" style="height : 250px" placeholder="Ecrivez votre réponse ici..."></textarea>
                    </div>

                    <div class="justify-content-center m-2">
                        <button class="btn btn-success" type="submit">Publier la réponse</button><span class="text-light">En cliquant sur le boutton "Poster la question", votre question deviendra public</span>
                    </div>
                </form>
            </section>
        </div>