@model List<Topic>

<section>
    <form asp-controller="Topic" asp-action="SubmitSearch" method="post">
        <div class="row m-2 justify-content-center">
            <input type="text" name="searchNavbar" placeholder="Votre recherche ici..." class="col-5 form-control" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</section>
<section>
    @if (Model != null)
    {
        @if (Model.Count == 0)
        {
            <div class="col alert alert-danger justify-content-center text-center">
                No question available
            </div>
        }
        else
        {
            <div>
                @foreach (Topic t in Model)
                {
                    <div>
                        <div>
                            <h2><a asp-controller="Topic" asp-action="Detail" asp-route-id="@t.Id">@t.Question</a></h2>
                        </div>
                        <div>@t.Body</div>
                        <div>
                                @if (t.Responses.Count() > 1)
                                {<div>@t.Responses.Count() answers.</div>}
                            else
                            {<div>@t.Responses.Count() answer.</div>}
                            <div>
                                posted by @t.Author.FirstName @t.Author.LastName at @t.Date
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else if (Model.Count == 0)
    {
        <div class="col alert alert-danger justify-content-center text-center">
            No question available
        </div>
    }
</section>

<section>
    <div class="row justify-content-center m-2">
        <a class="btn btn-info" asp-controller="Topic" asp-action="NewTopicForm">Post New Question</a>
    </div>
</section>